fastapi
starlette
uvicorn
SQLAlchemy
psycopg2-binary
paramiko
requests
python-jose
passlib
bcrypt
python-dotenv
pydantic
email-validator
scikit-learn
numpy
pandas
joblib
slowapi
APScheduler
python-multipart

